@use "var" as *;

//general styles
html {
    font-family: $body-font;
    font-size: 62.5%;
    text-align: center;
    color: $grey;
    background-color: $white;
}

.wrapper {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

//fonts
h1,
h2 {
    font-family: $main-font;
    text-transform: uppercase;
    margin: 0;
}

h1 {
    font-size: 7rem;
}

h2,
.restart {
    font-size: 5rem;
}


h3{
    margin: 0;
    font-size: 2rem;
}

form label {
    font-family: $main-font;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

//main section
main {
    height: 100vh;
    height: 100svh;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-image: url(".././assets/matt-palmer-WHJ1VaQpPsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    position: relative;
    z-index: 13;
    padding-top: 30px;
}

img {
    position: absolute;
    z-index: 11;
    bottom: 0;
}

//form
form {
    position: absolute;
    z-index: 12;
    right: 0;
    bottom: 30px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form label {
    width: 20%;
    margin: 10px;
    padding: 10px 0;
    background-color: $grey;
    transition: 0.3s;
}

//button hover/focus states
label[for="red"]:hover,
label[for="red"]:focus {
    background-color: $red;
}

label[for="orange"]:hover,
label[for="orange"]:focus {
    background-color: $orange;
}

label[for="yellow"]:hover,
label[for="yellow"]:focus {
    background-color: $yellow;
}

label[for="green"]:hover,
label[for="green"]:focus {
    background-color: $green;
}

label[for="blue"]:hover,
label[for="blue"]:focus {
    background-color: $blue;
}

label[for="indigo"]:hover,
label[for="indigo"]:focus {
    background-color: $indigo;
}

label[for="violet"]:hover,
label[for="violet"]:focus {
    background-color: $violet;
}

label[for="random"]:hover,
label[for="random"]:focus {
    background-color: $white;
    color: $grey;
}

//restart button
.restart {
    position: absolute;
    z-index: 12;
    right: 30px;
    bottom: 30px;
    border: none;
    color: $grey;
    background-color: transparent;
    transition: 0.3s;
    &:hover,
    &:focus {
        transform: rotate(-360deg);
    }
}