@use "var" as *;

.rainbow-container {
  z-index: 1;
  position: absolute;
  bottom: 100px;
  display: flex;
  justify-content: center;
}

@mixin rainbow-div($vh) {
  height: $vh;
  aspect-ratio: 2/1;
  border-radius: $vh $vh 0 0;
  background-color: transparent;
  position: absolute;
  bottom: 0;
}

.rainbow-cutout {
  @include rainbow-div(26vh);
}

.background {
  background-image: url(".././assets/matt-palmer-WHJ1VaQpPsg-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.rainbow1 {
  @include rainbow-div(29vh);
  background-color: $random;
}

.rainbow2 {
  @include rainbow-div(32vh);
  background-color: $violet;
}

.rainbow3 {
  @include rainbow-div(35vh);
  background-color: $indigo;
}

.rainbow4 {
  @include rainbow-div(38vh);
  background-color: $blue;
}

.rainbow5 {
  @include rainbow-div(41vh);
  background-color: $green;
}

.rainbow6 {
  @include rainbow-div(44vh);
  background-color: $yellow;
}

.rainbow7 {
    @include rainbow-div(47vh);
    background-color: $orange;
  }

.rainbow8 {
  @include rainbow-div(50vh);
  background-color: $red;
}

