@use "var" as *;

.rainbow-container {
  z-index: 1;
  position: absolute;
  bottom: 100px;
  display: flex;
  justify-content: center;
}

@mixin rainbow-div($vh) {
  height: $vh;
  aspect-ratio: 2/1;
  border-radius: $vh $vh 0 0;
  background-color: transparent;
  position: absolute;
  bottom: 0;
}

.background {
  background-image: url(".././assets/matt-palmer-WHJ1VaQpPsg-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.rainbow-cutout {
  @include rainbow-div(26vh);
  z-index: 10;
}

.rainbow1 {
  @include rainbow-div(29vh);
  z-index: 9;
}

.rainbow2 {
  @include rainbow-div(32vh);
  z-index: 8;
}

.rainbow3 {
  @include rainbow-div(35vh);
  z-index: 7;
}

.rainbow4 {
  @include rainbow-div(38vh);
  z-index: 6;
}

.rainbow5 {
  @include rainbow-div(41vh);
  z-index: 5;  
}

.rainbow6 {
  @include rainbow-div(44vh);
  z-index: 4;
}

.rainbow7 {
  @include rainbow-div(47vh);
  z-index: 3;
}

.rainbow8 {
  @include rainbow-div(50vh);
  z-index: 2;
}

.red {background-color: $red;}
.orange {background-color: $orange;}
.yellow {background-color: $yellow;}
.green {background-color: $green;}
.blue {background-color: $blue;}
.indigo {background-color: $indigo;}
.violet {background-color: $violet;}
