//colors
$red: #ca2c29;
$orange: #cf523b;
$yellow: #b8902a;
$green: #408074;
$blue: #105470;
$indigo: #1d448b;
$violet:#11264f;
$white: #e6e8e9;
$grey: #282c34;

//fonts
$main-font: 'Source Sans Pro', Sans-Serif;
$body-font: 'Sintony', Sans-Serif;