html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Sintony", Sans-Serif;
  font-size: 62.5%;
  text-align: center;
  color: #282c34;
  background-color: #e6e8e9;
}

.wrapper {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2 {
  font-family: "Source Sans Pro", Sans-Serif;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 7rem;
}

h2,
.restart {
  font-size: 5rem;
}

h3 {
  margin: 0;
  font-size: 2rem;
}

form label {
  font-family: "Source Sans Pro", Sans-Serif;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url(".././assets/matt-palmer-WHJ1VaQpPsg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  position: relative;
  z-index: 13;
  padding-top: 30px;
}

img {
  position: absolute;
  z-index: 11;
  bottom: 0;
}

form {
  position: absolute;
  z-index: 12;
  right: 0;
  bottom: 30px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form label {
  width: 20%;
  margin: 10px;
  padding: 10px 0;
  background-color: #282c34;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

label[for=red]:hover,
label[for=red]:focus {
  background-color: #ca2c29;
}

label[for=orange]:hover,
label[for=orange]:focus {
  background-color: #cf523b;
}

label[for=yellow]:hover,
label[for=yellow]:focus {
  background-color: #b8902a;
}

label[for=green]:hover,
label[for=green]:focus {
  background-color: #408074;
}

label[for=blue]:hover,
label[for=blue]:focus {
  background-color: #105470;
}

label[for=indigo]:hover,
label[for=indigo]:focus {
  background-color: #1d448b;
}

label[for=violet]:hover,
label[for=violet]:focus {
  background-color: #11264f;
}

label[for=random]:hover,
label[for=random]:focus {
  background-color: #e6e8e9;
  color: #282c34;
}

.restart {
  position: absolute;
  z-index: 12;
  right: 30px;
  bottom: 30px;
  border: none;
  color: #282c34;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.restart:hover, .restart:focus {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.rainbow-container {
  position: absolute;
  z-index: 1;
  bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background {
  background-image: url(".././assets/matt-palmer-WHJ1VaQpPsg-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.rainbow-cutout {
  position: absolute;
  bottom: 0;
  height: 26vh;
  aspect-ratio: 2/1;
  border-radius: 26vh 26vh 0 0;
  border: none;
  background-color: transparent;
  z-index: 10;
}

.rainbow1 {
  position: absolute;
  bottom: 0;
  height: 29vh;
  aspect-ratio: 2/1;
  border-radius: 29vh 29vh 0 0;
  border: none;
  background-color: transparent;
  z-index: 9;
}

.rainbow2 {
  position: absolute;
  bottom: 0;
  height: 32vh;
  aspect-ratio: 2/1;
  border-radius: 32vh 32vh 0 0;
  border: none;
  background-color: transparent;
  z-index: 8;
}

.rainbow3 {
  position: absolute;
  bottom: 0;
  height: 35vh;
  aspect-ratio: 2/1;
  border-radius: 35vh 35vh 0 0;
  border: none;
  background-color: transparent;
  z-index: 7;
}

.rainbow4 {
  position: absolute;
  bottom: 0;
  height: 38vh;
  aspect-ratio: 2/1;
  border-radius: 38vh 38vh 0 0;
  border: none;
  background-color: transparent;
  z-index: 6;
}

.rainbow5 {
  position: absolute;
  bottom: 0;
  height: 41vh;
  aspect-ratio: 2/1;
  border-radius: 41vh 41vh 0 0;
  border: none;
  background-color: transparent;
  z-index: 5;
}

.rainbow6 {
  position: absolute;
  bottom: 0;
  height: 44vh;
  aspect-ratio: 2/1;
  border-radius: 44vh 44vh 0 0;
  border: none;
  background-color: transparent;
  z-index: 4;
}

.rainbow7 {
  position: absolute;
  bottom: 0;
  height: 47vh;
  aspect-ratio: 2/1;
  border-radius: 47vh 47vh 0 0;
  border: none;
  background-color: transparent;
  z-index: 3;
}

.rainbow8 {
  position: absolute;
  bottom: 0;
  height: 50vh;
  aspect-ratio: 2/1;
  border-radius: 50vh 50vh 0 0;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.red {
  background-color: #ca2c29;
}

.orange {
  background-color: #cf523b;
}

.yellow {
  background-color: #b8902a;
}

.green {
  background-color: #408074;
}

.blue {
  background-color: #105470;
}

.indigo {
  background-color: #1d448b;
}

.violet {
  background-color: #11264f;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .rainbow-cutout {
    height: 16vh;
    border-radius: 16vh 16vh 0 0;
  }
  .rainbow1 {
    height: 19vh;
    border-radius: 19vh 19vh 0 0;
  }
  .rainbow2 {
    height: 22vh;
    border-radius: 22vh 22vh 0 0;
  }
  .rainbow3 {
    height: 25vh;
    border-radius: 25vh 25vh 0 0;
  }
  .rainbow4 {
    height: 28vh;
    border-radius: 28vh 28vh 0 0;
  }
  .rainbow5 {
    height: 31vh;
    border-radius: 31vh 31vh 0 0;
  }
  .rainbow6 {
    height: 34vh;
    border-radius: 34vh 34vh 0 0;
  }
  .rainbow7 {
    height: 37vh;
    border-radius: 37vh 37vh 0 0;
  }
  .rainbow8 {
    height: 40vh;
    border-radius: 40vh 40vh 0 0;
  }
  form {
    bottom: 20px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2,
.restart {
    font-size: 4rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  label {
    font-size: 1.3rem;
  }
  .rainbow-container {
    bottom: 80px;
  }
  .rainbow-cutout {
    height: 8.4vh;
    border-radius: 8.4vh 8.4vh 0 0;
  }
  .rainbow1 {
    height: 11.1vh;
    border-radius: 11.1vh 11.1vh 0 0;
  }
  .rainbow2 {
    height: 13.8vh;
    border-radius: 13.8vh 13.8vh 0 0;
  }
  .rainbow3 {
    height: 16.5vh;
    border-radius: 16.5vh 16.5vh 0 0;
  }
  .rainbow4 {
    height: 19.2vh;
    border-radius: 19.2vh 19.2vh 0 0;
  }
  .rainbow5 {
    height: 21.9vh;
    border-radius: 21.9vh 21.9vh 0 0;
  }
  .rainbow6 {
    height: 24.6vh;
    border-radius: 24.6vh 24.6vh 0 0;
  }
  .rainbow7 {
    height: 27.3vh;
    border-radius: 27.3vh 27.3vh 0 0;
  }
  .rainbow8 {
    height: 30vh;
    border-radius: 30vh 30vh 0 0;
  }
  form {
    bottom: 10px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.7rem;
  }
  label {
    font-size: 1.3rem;
  }
  .rainbow-container {
    bottom: 0;
  }
  .rainbow-cutout {
    height: 9.6vh;
    border-radius: 9.6vh 9.6vh 0 0;
  }
  .rainbow1 {
    height: 11.9vh;
    border-radius: 11.9vh 11.9vh 0 0;
  }
  .rainbow2 {
    height: 14.2vh;
    border-radius: 14.2vh 14.2vh 0 0;
  }
  .rainbow3 {
    height: 16.5vh;
    border-radius: 16.5vh 16.5vh 0 0;
  }
  .rainbow4 {
    height: 18.8vh;
    border-radius: 18.8vh 18.8vh 0 0;
  }
  .rainbow5 {
    height: 21.1vh;
    border-radius: 21.1vh 21.1vh 0 0;
  }
  .rainbow6 {
    height: 23.4vh;
    border-radius: 23.4vh 23.4vh 0 0;
  }
  .rainbow7 {
    height: 25.7vh;
    border-radius: 25.7vh 25.7vh 0 0;
  }
  .rainbow8 {
    height: 28vh;
    border-radius: 28vh 28vh 0 0;
  }
  form {
    bottom: 30vh;
  }
  form label {
    width: 40%;
  }
}